extends layout

block content
  h1 Justen.us
  p Welcome. I'm currently working on a long-overdue overhaul of my site, so there's not much to see here. In the meanwhile, you can catch up with me elsewhere:
  div#networks
    a(href='https://github.com/nphyx') Github
    | &nbsp;
    a(href='https://plus.google.com/u/0/+JustenRobertson') G+
    | &nbsp;
    a(href='https://www.quora.com/profile/Justen-Robertson-1') Quora
    | &nbsp;
    a(href='mailto:justen@justen.us') Email
