extends ./layout.jade
block content
  div.inner
    hr
    p Welcome. I'm currently working on a long-overdue overhaul of my site, so there's not much to see here. In the meanwhile, you can catch up with me elsewhere:
    div#networks
      a(href='https://github.com/nphyx' target='_blank') 
        img(src='media/github-mark.png') 
        | Github
      | &nbsp;
      a(href='https://plus.google.com/u/0/+JustenRobertson' target='_blank') 
        img(src='/media/gplus-mark.png') 
        | Google+
      | &nbsp;
      a(href='https://www.quora.com/profile/Justen-Robertson-1' target='_blank') 
        img(src='/media/quora-mark.png')
        | Quora
      | &nbsp;
      a(href='mailto:justen@justen.us') 
        img(src='/media/email-mark.png')
        | Email
    p.extra ... or succumb to my lame attempts to mesmerize you with a preview of my experiments with raymarched depth fields, which is the thing you might see if your browser supports WebGL, right over there &#10142;
    p.extra It might change with time. Right now it's a bunch of cubes. The whole thing is created inside the shader, which is the thing I'm trying to get my head around. There are no no polygons, just a bunch of math calculating ray vectors and what might be in their path. Cool, huh?
    p.extra You should check out work by people who are way better at this than me over at #[a(href="https://shadertoy.com") shadertoy].
    hr
