extends layout
block content
  canvas#background
  header
    h1 Justen Robertson
    p freelance: designer, developer, et cetera
  nav
    ul
      li: a(href="#about") About
      li: a(href="#clients") Clients
      li: a(href="#projects") Projects
      li: a(href="#code") Code
  section#about
    p I can help you build your castles in the sky ...
    p ... and squash the bugs in your basement.
    p I can work alone on small projects, 
    p or as part of a larger team.
  section#clients
    h2 Clients
    div#media
      h3 Media
      ul
        li EMI Music
        li Sony BMG
        li Time Life
        li Random House
        li Worthy Publishing
        li Thomas Nelson
    div#personalities
      h3 Personalities 
      ul
        li Dolly Parton
        li Garbage
        li Keith Urban
        li Red Hot Chili Peppers
        li Shania Twain
        li Taylor Swift
    div#business
      h3 Medicine
      ul
        li Kailos Genetics
        li Vanderbilt Hospital
        li Williamson Medical Center
      h3 Non-Profit Organizations
      ul
        li Tug McGraw Foundation
        li Compassion International
        li Ready or Not Foundation
    div#small-business
      h3 Small Businesses
      ul
        li Booksmart Bookkeeping Solutions
        li Bison Countertops, Inc.
        li InSage, LLC.
        li Mad Dancer Media, Inc.
        li Tennessee Wine &amp; Spirits
    p I've worked for clients in a wide range of industries and budgets, from some of the biggest names in the music and publishing industry to local small businesses, both directly and as a subcontractor.
    p Most of my work has been as a programmer and system administrator, but I also do some web and print design as needed.
  section#projects
    h2 Projects
    div#ops
      h3 Ops
      p Ops is a pattern-matching puzzle game written in javascript + canvas.
    div#photonomix
      h3 Photonomix
      p An artificial life simulation.
    p I work on a bunch of things in my spare time to keep my skills sharp. Besides my open source code and my offline projects, I like to build small games and simulations.
  section#code
    h3 Code
    div#vectrix
      h3 Vectrix
      p A convenient, fast vector mathematics library for Nodejs and browsers.
    div#voctopus
      h3 Voctopus
      p A high performance implementation of sparse voxel octrees in Javascript.
    div#jsvolume
      h3 JSVolume
      p Volumetric coordinate-aligned grids with functional interfaces.

    p You can find all my published code on #[a(href="https://github.com/nphyx") github].
