html
  head
    title Ops
    link(rel="stylesheet" type="text/css" href="styles/ops.css")
    script(src="scripts/ops.js" type="text/javascript")
  body.scanlines
    div#score
      span#game Ops 
      span.label level:
      span#score-level 0
      span.label.bright score:
      span#score-hi 0
      span.label ops:
      span#score-ops 0
      span.label.bright par:
      span#score-par 6
    div#grid
      span.bit.target.filled
      span.bit.filled
      span.bit.target
      span.bit
    div#controls
      div.row
        span.control.hidden#undo [
        span.control#up &#x25b2; 
        span.control.hidden#redo ]
      div.row
        span.control.hidden#left &#x25c0;
        span.control.hidden#down &#x25bc;
        span.control.hidden#right &#x25b6;
    div#log
