@import 'reset';
@import 'scanlines';
@import url(https://fonts.googleapis.com/css?family=VT323);
$dark: black;
$empty: #042404;
$dim: #060;
$mid: green;
$bright: #0c0;
$vbright: #0f0;

@mixin no-select() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@mixin bit-shadow($color) {
	box-shadow:inset 0 0 0 0.25em $color;
}

@mixin bit-shadow-x($color) {
	box-shadow:inset 0 0 0 0.25em $color;
}

@mixin bit-shadow-y($color) {
	box-shadow:inset 0 0 0 0.25em $color;
}

@keyframes bit-filled {
	0% {background-color:$mid;}
	50% {background-color:$bright;}
	99% {background-color:$mid;}

}

@keyframes bit-target {
	0% {@include bit-shadow($dim);}
	50% {@include bit-shadow($mid);}
	99% {@include bit-shadow($dim);}
}

@keyframes bit-emptied {
	0% {background-color:$mid;}
	99% {background-color:$empty;}
}

@keyframes bit-newfill {
	0% {background-color:$dim;}
	99% {background-color:$bright;}
}

@keyframes bit-filled-target {
	0% {@include bit-shadow($dim); background-color:$mid;}
	50% {@include bit-shadow($mid); background-color:$bright;}
	99% {@include bit-shadow($dim); background-color:$mid;}
}

@keyframes gridflash {
	0% {@include bit-shadow($bright); background-color:$bright; border-color:$bright;}
	50% {@include bit-shadow($vbright); background-color:$vbright; border-color:$vbright;}
	99% {@include bit-shadow($bright); background-color:$bright; border-color:$bright;}
}

@keyframes borderflash {
	0% {border-color:$bright;}
	50% {border-color:$vbright;}
	99% {border-color:$bright;}
}

@keyframes gridglitch {
	0% {border-color:$vbright;@include bit-shadow($bright); background-color:$bright;}
	25% {border-color:$dark; border-width:.2em;}
	50% {border-color:$bright;@include bit-shadow($vbright); background-color:$vbright;}
	75% {border-color:$dim; border-width:.1em;}
}

@keyframes flashcolor {
	0% {color:$vbright;}
	50% {color:$bright;}
}

@keyframes flashbg {
	0% {background-color:$vbright;}
	50% {background-color:$bright;}
}

@keyframes hole {
	0% {@include bit-shadow($empty); background-color:$dark;}
	10% {@include bit-shadow($dark);}
	11% {@include bit-shadow($empty);}
	12% {@include bit-shadow($dark);}
	13% {@include bit-shadow($empty);}
	14% {@include bit-shadow($dark);}
	15% {@include bit-shadow($empty); background-color:$empty;}
	16% {@include bit-shadow($dark);}
	30% {@include bit-shadow($empty);}
	31% {@include bit-shadow($dark);}
	32% {background-color:$dark;}
	39% {background-color:$empty; @include bit-shadow($dark);}
	40% {background-color:$dark;}
	41% {background-color:$empty;}
	42% {background-color:$dark;}
	43% {background-color:$empty;}
	44% {background-color:$dark;}
	45% {background-color:$empty; @include bit-shadow($empty);}
	46% {background-color:$dark;}
	70% {background-color:$empty;}
	71% {background-color:$dark;}
	72% {@include bit-shadow($dark);}
}

@keyframes burn {
	0% {@include bit-shadow($dim); background-color:$bright;}
	10% {@include bit-shadow($bright);}
	11% {@include bit-shadow($dim);}
	12% {@include bit-shadow($bright);}
	13% {@include bit-shadow($dim);}
	14% {@include bit-shadow($bright);}
	15% {@include bit-shadow($dim); background-color:$dim;}
	16% {@include bit-shadow($bright);}
	30% {@include bit-shadow($dim);}
	31% {@include bit-shadow($bright);}
	32% {background-color:$bright;}
	39% {background-color:$dim; @include bit-shadow($bright);}
	40% {background-color:$bright;}
	41% {background-color:$dim;}
	42% {background-color:$bright;}
	43% {background-color:$dim;}
	44% {background-color:$bright;}
	45% {background-color:$dim; @include bit-shadow($dim);}
	46% {background-color:$bright;}
	70% {background-color:$dim;}
	71% {background-color:$bright;}
	72% {@include bit-shadow($bright);}
}

@keyframes short {
	0% {@include bit-shadow($dim);}
	10% {@include bit-shadow-x($dim);}
	11% {@include bit-shadow-y($mid);}
	12% {@include bit-shadow-x($mid);}
	13% {@include bit-shadow-y($dim);}
	14% {@include bit-shadow-x($dim);}
	15% {@include bit-shadow-y($mid);}
	16% {@include bit-shadow-x($mid);}
	30% {@include bit-shadow-y($dim);}
	31% {@include bit-shadow-x($dim);}
	39% {@include bit-shadow-x($mid);}
	45% {@include bit-shadow-y($mid);}
	72% {@include bit-shadow($dim);}
}

@keyframes title-t1 {
	0% {content:"O";}
	50% {content:"P";}
}

@keyframes title-t2 {
	10% {content:"P";}
	60% {content:"L";}
}

@keyframes title-t3 {
	20% {content:"S";}
	70% {content:"A";}
}

@keyframes title-t4 {
	30% {content:" ";}
	80% {content:"Y";}
}
html {overflow:hidden;}
body {font-family:"VT323", monospace; width:100%; height:100%; background-color:$empty; color:green; overflow:hidden; position:fixed; margin:0 auto; font-size:10px;}
body.start {
	#grid {font-size:2.5rem;}
	#controls {display:none;}
}
body:fullscreen, body:full-screen, body:-ms-fullscreen, body:-webkit-full-screen, body:-moz-full-screen {background-color:$empty !important; font-size:20px;
	#wrap {max-width:auto;}
}

body.designMode {#game-screen {@include bit-shadow($bright)}}

body:not(.start) {cursor:none;}


#wrap {width:95%; height:100%; display:flex; flex-direction:column; justify-content:center; position:relative; margin:0 auto; max-width:900px; background:$empty;}

body:not(.2d) #game-screen {position:relative; border:4px solid $dim; display:flex; flex-direction:row; flex-wrap:wrap; height:70%;}

#glitches {font-size: 1.5rem; word-wrap: break-word; letter-spacing: .5rem; position: absolute; display:block; width: 100%; left: 0; top: 0; line-height: 1em; z-index: 10; text-align: center; height: 100%;}

#score {position:absolute; top:0; width:calc(100% - 2em); height:auto; text-align:center; font-size:2rem; padding:0 1em .3em;
	span.label:not(:first-child) {padding-left:1rem;}
	span.label.bright {color:$bright;}
	span.label:first-child {padding-left:0;}
	#game {color:$vbright; font-size:2.5rem; display:inline-block; margin-right:1rem;}
}

#controls {position:absolute; width:3em; height:100%; display:flex; flex-direction:column; justify-content:center; top:0em; right:1em; text-align:center; font-size:3rem; line-height:3rem; color:$dim; z-index:100;
	div.row {width:100%; text-align:center;
		span.control {display:inline-block; width:1em; height:1em; text-align:center; @include no-select(); line-height:1em;}
		span.control:active {color:$bright; cursor:pointer;}
		span.control.down {color:$vbright;}
		#opBump.control {display:inline-block; width:90%; margin:.1em auto; height:.7em; background-color:$dim;}
		#opBump.control:active {background-color:$bright;}
		#opBump.control.down {background-color:$bright;}
		span.control.hidden {opacity:0 !important;}
		#audio.control {font-size:1.8rem; display:none;}
	}
}

#controls.mod {color:$bright;
	#opBump.control {background-color:$bright;}
}

#grid-wrap {display:flex; flex-direction:column; justify-content:center; margin:4rem auto 0; width:100%; flex-shrink:5;}
#grid {text-align:center; width:auto; height:auto; margin:0 auto; font-size:2rem;
	span.bit {position:relative; display:inline-block; overflow:overlay; width:1em; height:1em; border:.2em solid $mid; @include bit-shadow($empty); flex-grow:1}
	span.bit {border-left-width:.1em; border-bottom-width:.1em;}
	br:first-of-type ~ span.bit {border-top-width:.2em;}
	br + span.bit, span.bit:first-of-type {border-left-width:.2em;}
	br:last-of-type ~ span.bit {border-bottom-width:.2em;}
	
	span.bit.target {@include bit-shadow($dim); animation-name:bit-target; animation-duration:2s; animation-iteration-count:infinite;}
	span.bit.filled {animation-name:bit-filled; animation-duration:2s; animation-iteration-count:infinite; background-color:$bright;}
	span.bit.hole {background:$dark; @include bit-shadow($dark); animation-name:hole; animation-duration:3s; animation-iteration-count:infinite;}
	span.bit.burn {background:$bright; @include bit-shadow($mid); animation-name:burn; animation-duration:3s; animation-iteration-count:infinite;}

	// shorted bits
	span.bit.short, span.bit.short.filled {animation-name:short; animation-duration:3s; animation-iteration-count:infinite; @include bit-shadow($dark);} 

	// title screen
	span.bit.title:before {content:""; top:0; left:0; width:1em; height:1em; position:absolute; overflow:hidden; animation-iteration-count:infinite; animation-duration:4s;}

	span.bit.title.t1:before {content:"O"; animation-name:title-t1;}
	span.bit.title.t2:before {content:"P"; animation-name:title-t2;}
	span.bit.title.t3:before {content:"S"; animation-name:title-t3;}
	span.bit.title.t4:before {content:" "; animation-name:title-t4;}

	// filled and target bits overrides
	span.bit.filled, span.bit.short.filled {background-color:$mid;}
	span.bit.filled.target {background:$mid; animation-name:bit-filled-target; animation-duration:2s; animation-iteration-count:infinite; animation-delay:.2s;}
	span.bit.flipped:not(.filled) {background-color:$empty; animation-name:bit-emptied; animation-duration:1s; animation-iteration-count:1;}
	span.bit.flipped.filled {background-color:$dim; animation-name:bit-newfill; animation-duration:1s; animation-iteration-count:1;}
}

#grid #complete {font-size:3em;}

.flash {
	.control:not(.no-highlight) {
		animation-name:flashcolor; animation-duration:.25s; animation-iteration-count:infinite;
	}
	.control#opBump {animation-name:flashbg; animation-duration:.25s; animation-iteration-count:infinite;}
}

#grid.complete {
	span.bit {animation-name:borderflash !important; animation-delay:0s !important; background-color:$empty !important; border-color:$bright !important; animation-duration: .1s !important; animation-iteration-count:infinite !important;}
	span.bit.target.filled
	{@include bit-shadow($bright !important); background-color:$bright !important; animation-name:gridflash !important;}
}

#grid.crashed {
	span.bit {animation-name:gridflash !important; animation-duration:.1s !important; animation-iteration-count:infinite !important; @include bit-shadow(green !important); background-color:green !important;}
}

body.glitched {
	#glitches {color:$empty;}
	#score {
		background-color:green; color:$empty;
		#game {position:relative; -webkit-transform:scaleX(-1); color:$empty;
		}
	}
}

body.glitched #grid.complete {
	span.bit  {@include bit-shadow(green !important); background-color:green !important; animation-name:gridglitch !important; animation-iteration-count:infinite !important; 
		&:nth-child(even) {animation-delay:0 !important; animation-duration:.1s !important;}
		&:nth-child(odd) {animation-delay:.1s !important; animation-duration:.2s !important;}
	}
}

@media screen and (max-height:600px) {
	body:not(.2d) #game-screen {min-height:75%; max-height:590px;}
}

@media screen and (max-height:300px) {
	body:not(.2d) #game-screen {height:95%;}
}

@media screen and (max-device-width:700px), screen and (orientation:portrait) {
	body {font-size:15px;}
	#score {font-size:1.2rem; width:95%; margin:0; padding:0;
		#game {display:inline; margin:0; font-size:1.5rem;}
	}
	#controls {position:static; margin:0 auto; height:auto; font-size:3.5rem; width:auto;
		.control {margin:.2em; border:.1em solid $mid; border-radius:.2em;}
	}
	#controls.mod {
		.control {border-color:$bright;}
		#opBump {background-color:$bright;}
	}
	body:not(.2d) #game-screen {height:95%;}
	#grid {font-size:1.5rem;}
}

body.2d canvas#game-screen {width:100%; height:100%;}

