@import 'reset';
@import 'scanlines';
@import url(https://fonts.googleapis.com/css?family=VT323);
html {overflow:hidden;}
body {font-family:"VT323", monospace; width:100%; height:100%; background:black; color:green; overflow:hidden; position:fixed; max-width:900px; margin:0 auto;}
#wrap {width:100%; height:100%; display:flex; flex-direction:column; justify-content:center; position:relative;}
#score {width:100%; text-align:center; font-size:2rem; position:relative; margin-top:-5rem;
	span.label {padding-left:1rem;}
	span.label.bright {padding-left:1rem;color:#0a0;}
	span.label:first-child {padding-left:0;}
	#game {color:#0f0; font-size:2.5rem;}
	#score-glitch {font-size:1.3rem; word-wrap:break-word; letter-spacing:2rem; position:absolute; display:inline-block; width:100%; left:0; top:0;}
}
#controls {position:absolute; width:6rem; right:1em; text-align:center; font-size:3rem;
	            line-height:3rem; color:#060;
	div.row {width:100%; text-align:center;
		span.control {display:inline-block; width:2rem; text-align:center;}
		span.control:hover {color:#090; cursor:pointer;}
		span.control.hidden {visibility:hidden;}
		span.control.down {color:#0c0;}
	}
}
#log {position:absolute; right:0em; width:3em; overflow:hidden; top:6em;}
#grid {position:absolute; margin-top:2rem; width:calc(100% - 3rem); text-align:center; 
	span.bit {display:inline-block; width:2em; height:2em; border:3px solid green; margin:-3px;outline:.5rem solid black; outline-offset:calc(-.5rem - 3px);}
	span.bit.target {outline-color:green;}
	span.bit.filled {background:green;}
	span.bit.filled.target {outline-color:#0c0; background-color:#0c0;}
}

#grid #complete {font-size:3em;}

@keyframes gridflash {
	0% {outline-color:#0c0; background-color:#0c0; border-color:#0c0;}
	50% {outline-color:#0f0; background-color:#0f0; border-color:#0f0;}
}

@keyframes borderflash {
	0% {border-color:#0c0;}
	50% {border-color:#0f0;}
}

@keyframes gridglitch {
	0% {border-color:#0f0;outline-color:#0c0; background-color:#0c0;}
	25% {border-color:#000; border-width:5px;}
	50% {border-color:#0c0;outline-color:#0f0; background-color:#0f0;}
	75% {border-color:#050; border-width:1px;}
}

@keyframes flash {
	0% {color:#0f0;}
	50% {color:#0c0;}
}

.flash {
	animation-name:flash; animation-duration:.25s; animation-iteration-count:infinite;
}

#grid.complete {
	span.bit {animation-name:borderflash; animation-duration:.1s; animation-iteration-count:infinite;}
	span.bit.target.filled {outline-color:green; background-color:green; animation-name:gridflash; animation-duration:.1s; animation-iteration-count:infinite;}
}

#grid.crashed {
	span.bit {animation-name:borderflash; animation-duration:.1s; animation-iteration-count:infinite;}
	span.bit, 
	span.bit.filled, 
	span.bit.target, 
	span.bit.target.filled {outline-color:green; background-color:green; animation-name:gridflash; animation-duration:.1s; animation-iteration-count:infinite;}
}

#grid.glitching {
	span.bit, 
	span.bit.filled, 
	span.bit.target, 
	span.bit.target.filled {outline-color:green; background-color:green; animation-name:gridglitch; animation-iteration-count:infinite; 
		&:nth-child(even) {animation-delay:.1s; animation-duration:.1s;}
		&:nth-child(odd) {animation-delay:.1s; animation-duration:.2s;}
	}
}

body.glitched {
	#score {
		background-color:green; color:black;
		#score-glitch {color:black;}
		#game {position:relative;
			&::before {position:relative; right:-3rem; content:"spO"; color:black;}
		}
	}
}
