@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,300italic,400italic,700italic);

$content-padding: 1em;
$textshadow: 0 0.01em 0.02em rgba(19,23,40,0.5);
html, body {margin:0; padding:0;}
body {font-family:'Roboto', sans-serif; color:rgba(235,240,255,1);}

h1,h2,h3,h4,h5,h6 {font-weight:bold; font-family:'Oswald', sans-serif; margin:.5em 0 .5em 0; text-shadow:$textshadow;}
h1 {font-size:2.5em;}
h2 {font-size:2.0em;}
h3 {font-size:1.5em;}
h4 {font-size:1.2em;}
h5 {font-size:0.9em;}
h6 {font-size:0.8em;}
p {line-height:1.2em; margin:1em;}
a {color: rgba(50,80,107,1);}

canvas#background {width:100%; height:100vh; top:0; left:0; background-color:red; position:fixed; z-index:-1;}

header {width:100%; height:67vh; text-align:center; padding-top:33vh;
	h1 {font-size:8em;}
	p {font-size:3em;text-shadow:$textshadow;}
}
nav {
	position:fixed; width:100%; text-align:center; top:0; left:0;
	ul {list-style-type:none; padding:0 4em 0.5em 4em; height:1.5em; width:auto; display:inline-block;
		background:white;
		background:
			linear-gradient(45deg, transparent 2em, white 0) bottom left,
			linear-gradient(315deg, transparent 2em, white 0) bottom right;
		background-size: 51% 100%;
		background-repeat:no-repeat;

		li {display:inline-block; padding:.5em; text-align:center;
			a {text-decoration:none; text-transform:uppercase;}
		}
	}
}
section#about {
	p {height:40vh; margin-top:60vh; font-size:4em; text-align:right; vertical-align:center;text-shadow:$textshadow;}
}

@media screen and (max-width:1280px) {
}

@media screen and (min-resolution:192dpi) {
	body {font-size:2em;}
}
