extends layout
block content
  canvas#background
  header#about
    .container
      include ../assets/logo.svg
      //img(src="/assets/logo.svg" alt="Justen Robertson, freelance designer, developer, et cetera")
      nav
        ul
          li: a(href="#clients") Clients
          li: a(href="#projects") Projects
          li: a(href="#code") Code
          li: a(href="#find-me") Find Me
  section#clients
    h2 Clients
    div.entries
      div#media
        h3 Media
        ul
          li EMI Music
          li Sony BMG
          li Time Life
          li Random House
          li Worthy Publishing
          li Thomas Nelson

      div#personalities
        h3 Personalities 
        ul
          li Dolly Parton
          li Garbage
          li Keith Urban
          li Red Hot Chili Peppers
          li Shania Twain
          li Taylor Swift

      div#small-business
        h3 Small Businesses
        ul
          li Booksmart Bookkeeping Solutions
          li Bison Countertops, Inc.
          li InSage, LLC.
          li Mad Dancer Media, Inc.
          li Tennessee Fine Wine &amp; Spirits

      div#medicine.half
        h3 Medicine
        ul
          li Kailos Genetics
          li Vanderbilt Hospital
          li Williamson Medical Center

      div#charity.half
        h3 Non-Profits
        ul
          li Tug McGraw Foundation
          li Compassion International
          li Ready or Not Foundation

  section#projects
    h2 Projects
    div.entries
      div#ops.project
        h3 Ops
        p Ops is a pattern-matching puzzle game written in javascript + canvas.
        div.links #[a(href="https://nphyx.github.io/ops") play] #[a(href="https://github.com/nphyx/ops") source]

      div#photonomix.project
        h3 Photonomix
        p An artificial life simulation.
        div.links #[a(href="https://nphyx.github.io/photonomix") play] #[a(href="https://github.com/nphyx/photonomix") source]

      //div#scraps.project
        h3 Scraps
        p A post-apocalyptic sidescroller.
        div.links #[a(href="https://nphyx.github.io/scraps") play] #[a(href="https://github.com/nphyx/scraps") source]

  section#code
    h2 Code
    div.entries
      div#vectrix
        h3 Vectrix
        p A convenient, fast vector mathematics library for Nodejs and browsers.
        div.links #[a(href="https://github.com/nphyx/vectrix") github] #[a(href="https://npmjs.com/package/@nphyx/vectrix") npm]

      div#voctopus
        h3 Voctopus
        p A high performance implementation of sparse voxel octrees in Javascript.
        div.links #[a(href="https://github.com/nphyx/voctopus") github] #[a(href="https://npmjs.com/package/@nphyx/voctopus") npm]

      div#jsvolume
        h3 JSVolume
        p Volumetric coordinate-aligned grids with functional interfaces.
        div.links #[a(href="https://github.com/nphyx/jsvolume") github] #[a(href="https://npmjs.com/package/@nphyx/jsvolume") npm]

      //div#pxene
        h3 Pxene
        p A collection of tools for creating 2d games and simulations.
        div.links #[a(href="https://github.com/nphyx/pxene") github] #[a(href="https://npmjs.com/package/@nphyx/pxene") npm]

      div#and-more
        h3 .. and more
        p You can find all my published code on #[a(href="https://github.com/nphyx") github].
  section#find-me
    h2 Find Me
    div.entries
      div
        a(href="https://www.github.com/nphyx")
          include ../assets/github.svg
          h3 On Github
      div
        a(href="https://www.quora.com/profile/Justen-Robertson-1")
          include ../assets/quora.svg
          h3 On Quora
      div
        a(href="mailto:justen@justen.us")
          include ../assets/email.svg
          h3 Via Email

  footer
    p Copyright &copy;2017 Justen Robertson, #[a(href="https://creativecommons.org/licenses/by-sa/3.0/") CC-BY-SA].
